@charset "utf-8";
/* CSS Document */
@font-face{
	 font-family: 'HelveticaNeue-Medium';
    src: url("../fonts/HelveticaNeue-Medium.otf");
    font-style: normal; 
}
*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
html{
	min-height: 100%;
}
body{
	min-height: 100%;
	position: relative;
	background:#CCC;
}
.clearfix{
	clear: both;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
header{
    /* position: absolute;
    left: 0;
    top: 0; */
    width: 100%;
    z-index: 999;
    background:#FC0;
}
.logo{
	display: inline-block;
	width: 200px;
    margin-right: 30px;
}
.logo img{
	max-width: 100%;
}
.main-menu{
	display: inline-block;
	margin-right: 50px;
}
.main-menu > ul{
	padding: 0;
}
.main-menu > ul > li{
	display: inline-block;
	margin: 0 15px;
	position: relative;
}
.main-menu > ul > li > a{
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
    padding: 10px 0;
    text-decoration: none;
    transition: all 0.2s; 
}
.main-menu > ul > li:hover >a, .main-menu > ul > li.active > a{
	border-bottom: 3px solid #FFF;
}
#confirm{
	display: inline-block;
	float:right;
	margin-left:50px;
	margin-top:10px;
}
#confirm >ul{
	padding:0;
}
#confirm >ul >li{
	display: inline-block;
	margin: 0 15px;
	position: relative;
}
#confirm >ul >li:hover >a{
	color:#275c67;
}
#login .login{
	text-transform: uppercase;
	margin-left:5px;
}
#register .register{
	text-transform: uppercase;
	margin-left:5px;
}
.duongke{
		border: 2px solid #666;
}
 
main{
	width:100%;
	height:100%;
	position:relative;
}
<!-- contact-->
#contact-us{
	display:block;
	width:100%;
	height:500px;
}
#contact-us .container{
	display:block;
	width:100%;
	height:500px;
}
#contact-us .container .left{
	display:block;
	width:350px;
	height:400px;
	position:relative;
	float:left;
	padding:10px;
	margin-left:50px;
	margin-top:50px;
	border:1px solid #06F;
	border-radius:10px;
	
}
#contact-us .container .left .container-left{
	display:block;
}

#contact-us .container .title{
	text-align:center;
	color:#03F;
	margin-top:20px;
}
#contact-us .container .left .container-left .top{
	display:block;
	width:350px;
	height:150px;
	color:#03F;
}
#contact-us .container .left .container-left .top .container-top{
	display:block;
	height:150px;
	padding:10px;
	margin:10px;
	border-bottom:1px dashed #0000FF;
	
}
#contact-us .container .left .container-left .top .container-top .contact-info{
	padding:10px;
	margin-left:10px;
}
#contact-us .container .left .container-left .bottom{
	display:block;
	width:350px;
	height:200px;
}
#contact-us .container .left .container-left .bottom .container-bottom{
	display:block;
	padding:20px;
	height:150px;
	margin:10px;
	border-bottom:1px dashed #0000FF;
}
#contact-us .container .left .container-left .bottom img{
	width:250px;
	height:150px;
	margin-left:10px;
	margin-top:10px;
}

#contact-us .container .right{
	display:block;
	width:1000px;
	height:500px;
	float:left;
	position:relative;
	padding:10px;
	margin-top:50px;
	border-left:1px solid #06F;
	margin-left:5px;
	margin-bottom:10px;
}
#contact-us .container .right .container-right{
	display:block;
	height:500px;
}
#contact-us .container .right .container-right .title{
	text-align:center;
	color:#03F;
	margin-top:10px;
	margin-bottom:10px;
}
#contact-us .container .right .container-right .spac{
	border:#999 1px solid;
	margin-left:10px;
	margin-right:10px;
}

#contact-us .container .right .container-right .left1{
	display:block;
	width:470px;
	height:500px;
	position:relative;
	padding:10px;
	float:left;
	font-size:20px;

}
#contact-us .container .right .container-right .left1 .container-left1{
	display:block;
	padding:10px;
	margin-top:20px;
		
}
#contact-us .container .right .container-right .left1 .container-left1 input{
	font-size:20px;
	line-height:40px;
	font-family:inherit;
	margin-top:10px;
	margin-bottom:15px;
	width:100%;
	border:1px solid #06F;
	border-radius:10px;
	 padding: 5px 10px;
}
#contact-us .container .right .container-right .right1{
	display:block;
	width:470px;
	height:500px;
	padding:10px;
	font-size:20px;
	position:relative;
	float:left;
}
#contact-us .container .right .container-right .right1 .container-right1{
	display:block;
	padding:10px;	
	margin-top:20px;
}
#contact-us .container .right .container-right .right1 .container-right1 input{
	font-size:20px;
	color:#FFF;
	background:#06F;
	width:100%;
	height:50px;
	margin-left:10px;
	border-radius:10px;	
}
#contact-us .container .right .container-right .right1 .container-right1 .message{
	width: 100%;
    padding: 5px 10px;
    border: 1px solid #0066FF;
    outline: none;
    margin-bottom: 40px;
	border:1px solid #06F;
	border-radius:10px;
    resize: none;
    height: 250px;
	margin-top:10px;
	font-size:20px;
}

<!-- footer -->
footer{
	display:block;
	height:200px;
	width:100%;
}
footer .container{
	display:inline-block;
	width:100%;
	height:200px;
	background:#FC0;
}
footer .container .spac{
	width:100%;
	height:50px;
	background:#F90;
	opacity:0.7;
	border-bottom: 2px solid #FFFFFF;
}
footer .container .container-lienhe{
	width:300px;
	height:100px;
	color:#06F;
	display:inline-block;
}
footer .container .container-lienhe .lienhe{
	height:100px;
	padding:20px;
}
.tiento{
	color:#FFF;
	margin-right:10px;
	float:left;
}
.link{
}
footer .container .container-lienhe .lienhe .title{
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
}
footer .container .container-link{
	display:inline-block;
	width:300px;
	height:100px;
	color:#06F;
}
footer .container .container-link .link-relation{
	height:100px;
	padding:20px;
	margin-left:20px;
}
footer .container .container-link .link-relation .title{
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
}
